#divMainInput {
    padding: 20px;
    margin: 20px;
    border: 1px solid #1ED760;
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#divMainWords {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 50px;
    border-radius: inherit;
    border: 1px solid #189143;
    font-family: monospace;
}

#divResults {
    display: inherit;
    padding-top: 80px;
}

#divResults h1 {
    font-size: 50px;
}

#divWithInputAndButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: inherit;
}

#divWithInputAndButton input {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 70%;
    background-color: #282c34;
    color: #ffffff;
    outline: none;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius: inherit;
    transition: 0.2s;
}

#divWithInputAndButton input:hover {
    border: 1px solid #1ED760;
}

#divWithInputAndButton button {
    color: #000;
    background-color: #1ED760;
    font-family: monospace;
    width: 10vw;
    outline: none;
    border: inherit;
    padding: 10px;
    margin-left: 5px;
    border-radius: inherit;
    transition: 0.4s;
}

#divWithInputAndButton button:hover {
    background-color: #189143;
}

#divWithInputAndButton > button:active {
    transition: none;
    color: #fff;
}