#divMainInput {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.change-color-buttons {
    color: #000;
    background-color: #1ED760;
    font-size: 1.2em;
    width: 9em;
    border: none;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#divMainInput button:hover {
    background-color: #189143;
}

#divMainInput button:active {
    padding: 14px;
    transition: none;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

#divMainInput button.change-color {
    background-color: #7d0db1;
    color: #FFFFFF;
    width: 10em;
}

#divMainInput button.change-background {
    background-color: #c20e0e;
    color: #FFFFFF;
    width: 10em;
}

#divMainInput button.change-foreground {
    background-color: rgb(13, 13, 187);
    color: #FFFFFF;
    width: 10em;
}

#divMainInput #span-reset-typing-input-state {
    display: none;
}

#divMainWords {
    display: flex;
    flex-direction: column;
    margin: 35px 15px 15px 15px;
    padding: 30px;
    width: inherit;
    border-radius: inherit;
    font-size: 1.4em;
}

@media (min-width: 767px) {
    #divMainWords {
        flex-direction: row;
    }
}

#divWithLabelAndInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: inherit;
}

#divWithLabelAndInput label {
    padding-bottom: 12px;
    font-size: 1.2em;
}

#divWithLabelAndInput input {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 20em;
    background-color: #282c34;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius: inherit;
    transition: 0.2s;
}

#divWithLabelAndInput input:hover {
    border: 1px solid #1ED760;
}

#div-color-picker {
    display: flex;
}
